[ContrastEffect]
contrast=0.2
enabled=true
intensity=2.0
saturation=1.7

[Desktop Entry]
Name=Artix Dark
X-KDE-PluginInfo-Author=nous
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasmashell
X-KDE-PluginInfo-Email=nous@artixlinux.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=Artix Dark Plasma
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=https://artixlinux.org
X-Plasma-API=5.0
